<!doctype html>
<html ng-app="myApp">
<head>
  <title>#neverendinggame</title>
  <link rel="stylesheet" type="text/css" 
      href="/static/css/styles.css" />
</head>
<body>
  <div ng-controller="myController">
    <h2>Welcome <%= username %></h2>
	<h2>You're on level</h2>
	
	<div id="game-div">
	
	</div>
	
	<hr>
    <a href="/logout">logout</a><br>
   <!--<a href="/user">Edit User Information</a>-->
   <hr>
  </div>
  <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
  <script src="/static/js/my_app.js"></script>
</body>
</html>