<!doctype html>
<html ng-app="myApp">
<head>
  <title>#neverendinggame</title>
  <link rel="stylesheet" type="text/css" 
      href="/static/css/styles.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script>
  var context;
  var enemies = [];
  var vectors = [-1,-.5,.5,1];

    for(var i=0; i<5; i++)
    {
      var startingX = Math.floor(Math.random() * (580 - 125 + 1)) + 100;
      var startingY = Math.floor(Math.random() * (175 - 0 + 1)) + 0;
      var startingDX = vectors[Math.floor(Math.random() * 4)]
      var startingDY = vectors[Math.floor(Math.random() * 4)]
      var enemy = {x:startingX, y:startingY, dx:startingDX, dy:startingDY};
      enemies.push(enemy);    
    }
    
    var guyX = 0;
    var guyY = 280;
    var guyDX = 5;
    var guyDY = 5;
  
  document.onkeydown = move;


function move(e, function {

    if(guyX===580 && guyY===0){
	newLevel(location.reload();
    }
}
) {

    e = e || window.event;

    if (e.keyCode == '38') {
        // up arrow
        if(guyY>0)
            guyY -= guyDY;
    }
    if (e.keyCode == '40') {
        // down arrow
        if(guyY<280)
            guyY += guyDY;
    }
    if (e.keyCode == '37') {
       // left arrow
       if(guyX>0)
            guyX -= guyDX;
    }
    if (e.keyCode == '39') {
       // right arrow
       if(guyX<580)
            guyX += guyDX;
    }
}


function newLevel(){
  var url = "/user/update"; 
  $.post(url,function(data) {
       console.log(data);
  })
  .done(function() { console.log('getJSON request succeeded!'); })
  .fail(function(jqXHR, textStatus, errorThrown) { 
    console.log('getJSON request failed! ' + textStatus); 
    console.log("incoming "+jqXHR.responseText);
  })
  .always(function() { console.log('getJSON request ended!');
  })
  .complete(function() { console.log("complete"); });
}
  
  function init()
  {
    context= gameArea.getContext('2d');
    setInterval(draw,10);
  }
  
  function draw()
  {
    context.clearRect(0,0, 600,300);
    context.fillStyle='#ffff00';
    context.fillRect(580,0,20,20);
    drawEnemies();
    drawGuy(checkDeath());  
  }
  
  function drawEnemies()
  {
    context.fillStyle="#0000ff";
    for(var i=0; i<enemies.length; i++)
    {
        e = enemies[i];
        
        context.fillRect(e.x,e.y,20,20);
        if( e.x<0 || e.x>580) e.dx=-e.dx; 
        if( e.y<0 || e.y>280) e.dy=-e.dy;
        e.x += e.dx;
        e.y += e.dy;
    }
  }
  
  function drawGuy()
  {
    context.fillStyle="#000000";
    context.fillRect(guyX,guyY,20,20);
  }
  
  function checkDeath(){
    for(var i=0; i<enemies.length; i++)
    {
        e = enemies[i];
      if(e.x > (guyX - 15) && e.x < (guyX + 15) && e.y > (guyY - 15) && e.y < (guyY + 15))
        location.reload();
    }
  }
  
</script>

</head>
<body onload="init()">
  <div ng-controller="myController">
    <h2>Welcome <%= username %></h2>
	<h2>You're on level <%= level %></h2>
	
	<div id="game-div">
             <canvas id="gameArea" width="600" height="300">	
	</div>
	
	<hr>
    <a href="/logout">logout</a><br>
   <!--<a href="/user">Edit User Information</a>-->
   <hr>
  </div>
  <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
  <script src="/static/js/my_app.js"></script>
</body>
</html>
