<!doctype html>
<html ng-app="myApp">
<head>
  <title>#neverendinguserprofile</title>
  <link rel="stylesheet" type="text/css" 
      href="/static/css/styles.css" />
</head>
<body>
  <div class="form-container" ng-controller="myController">
    <h1 class="form-header">User Profile</h1>
    <form method="POST" action="/user/update">
       <label>Username:</label>
         <input type="text" name="username" 
                ng-model="user.username" disabled><br>
      <!-- <label>Email:</label>
         <input type="email" name="email" 
                ng-model="user.email"><br>-->
       <label>Password:</label>
         <input type="text" name="color" 
                ng-model="user.color"><br>
		<div class="button-holder">
       <input type="submit" value="Save">
	   </div>
    </form>       
  </div>
  <form method="POST" action="/user/delete">
    <input type="submit" value="Delete User">
  </form>
  <hr><%= msg %><br>
  <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
  <script src="/static/js/my_app.js"></script>
  <a id="back-to-game" href="/">Back to game</a>
</body>
</html>
